body, html {
  padding: 0;
  margin: 0;
  background: #000;
  color: #fff;
  font-family: Helvetica, Arial;
}

#time, #acceleration, #accelerationbar, #speed, #speedbar, #goal, #out {
  position: absolute;
  top: 10px;
}

#speedbar, #accelerationbar {
  background: white;
  height: 2px;
  overflow: hidden;
  top: 28px;
}

#time {
  right: 10px;
}

#acceleration, #accelerationbar {
  right: 250px;
}

#speed, #speedbar {
  right: 100px;
}

#goal, #out{
  padding: 10px;
  opacity: 0;
}

#goal {
  left: 120px;
  background: green;
  -webkit-transition: all 0.3s;
}

#out {
  left: 220px;
  background: red;
}

#TEAM1 {
  color: #F66;
}

#TEAM2 {
  color: #66F;
}

#teams {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-right: -300px;
}

#teams ul {
  width: 300px;
  float: left;  
  list-style: none;
}

#teams ul li {
  opacity: 0.5;
}

#teams ul span {
  display: inline-block;
  overflow: hidden;
  text-align: right;
  width: 30px;
}

#teams ul span.name {
  text-align: left;
  width: 100px;
}